[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[dev-packages]

[requires]
python_version = "3.5"

[packages]
django = "*"
python-decouple = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
dj-database-url = "*"
whitenoise = "*"
